SchoolApp/AccountService/bin/Debug/AccountService.dll
SchoolApp/AccountService/bin/Debug/AccountService.dll.config
SchoolApp/AccountService/bin/Debug/AccountService.pdb
SchoolApp/AccountService/bin/Debug/EntityFramework.SqlServer.dll
SchoolApp/AccountService/bin/Debug/EntityFramework.SqlServer.xml
SchoolApp/AccountService/bin/Debug/EntityFramework.dll
SchoolApp/AccountService/bin/Debug/EntityFramework.xml
SchoolApp/AccountService/bin/Debug/Microsoft.AspNet.Identity.Core.dll
SchoolApp/AccountService/bin/Debug/Microsoft.AspNet.Identity.Core.xml
SchoolApp/AccountService/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.dll
SchoolApp/AccountService/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
SchoolApp/AccountService/obj/Debug/AccountService.csproj.FileListAbsolute.txt
SchoolApp/AccountService/obj/Debug/AccountService.dll
SchoolApp/AccountService/obj/Debug/AccountService.pdb
SchoolApp/AccountService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SchoolApp/AccountService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SchoolApp/AccountService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SchoolApp/AccountService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SchoolApp/SchoolService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SchoolApp/SchoolService/obj/Debug/SchoolService.csproj.FileListAbsolute.txt
SchoolApp/SchoolService/obj/Debug/SchoolService.csprojResolveAssemblyReference.cache
SchoolApp/SchoolService/obj/Debug/SchoolService.dll
SchoolApp/SchoolService/obj/Debug/SchoolService.pdb
SchoolApp/SchoolService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SchoolApp/SchoolService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SchoolApp/SchoolService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
bin
obj
SchoolApp/SchoolApp.v12.suo
*.mdf
*.ldf
*.user
task.txt
